.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.background-canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.ambient-glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        ellipse at center,
        rgba(102, 126, 234, 0.05) 0%,
        transparent 70%
    );
    pointer-events: none;
}

